.Default-button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.Default-button:active:not(:disabled) {
  background-color: #d0d0d0;
  color: black;
}

.Default-button.active {
  background-color: rgb(0, 132, 255);
  color: white;
}

.Default-button:hover:not(:disabled) {
  background-color: #ffffff;
  color: black;
}

.Default-button:disabled:not(.active) {
  cursor: not-allowed;
  color: grey;
}